# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/payment_db?schema=public"

# Logging
LOG_LEVEL=info

# Payment Service Configuration
MOCK_BANK_DELAY_MS=2000
MOCK_BANK_FAILURE_RATE=0.1
